{% load static %}

<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
        <title>zenith IoT</title>

        <!-- Template core CSS -->
        
        <link href="{% static 'zenith/assets/css/template.css' %}" rel="stylesheet">
        <!-- <link href="assets/css/template.dark.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)"> -->
        
    </head>
    <!-- Head -->

    <body>

        <div class="layout">

            <!-- Navigation -->
            <div class="navigation navbar navbar-light justify-content-center py-xl-7">

                <!-- Brand -->
                <a href="#" class="d-none d-xl-block mb-6">
                    <img src="assets/images/brand.svg" class="mx-auto fill-primary" data-inject-svg="" alt="" style="height: 46px;">
                </a>

                <!-- Menu -->
                <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0" role="tablist">

                    <!-- Invisible item to center nav vertically -->
                    <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                            <i class="icon-lg fe-x"></i>
                        </a>
                    </li>

                    <!-- Light Group -->
                    <li class="nav-item">
                        <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-light" title="lighting" role="tab">
                            <i class="icon-lg fe-sun"></i>
                        </a>
                    </li>

                    <!-- Aircon Group -->
                    <li class="nav-item mt-xl-9">
                        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-ac" title="air-conditioning" role="tab">
                            <i class="icon-lg fe-wind"></i>
                            <!-- <div class="badge badge-dot badge-primary badge-bottom-center"></div> -->
                        </a>
                    </li>

                    <!-- Temp Group -->
                    <li class="nav-item mt-xl-9">
                        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-temp" title="heating" role="tab">
                            <i class="icon-lg fe-thermometer"></i>
                            <!-- <div class="badge badge-dot badge-primary badge-bottom-center"></div> -->
                        </a>
                    </li>

                    <!-- Profile -->
                    <li class="nav-item mt-xl-9">
                        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user" title="User" role="tab">
                            <i class="icon-lg fe-user"></i>
                        </a>
                    </li>

                    <!-- Invisible item to center nav vertically -->
                    <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                            <i class="icon-lg fe-x"></i>
                        </a>
                    </li>

                    <!-- Settings -->
                    <!-- <li class="nav-item mt-xl-9">
                        <a class="nav-link position-relative p-0 py-xl-3" href="javascript:void(0)" title="Settings">
                            <i class="icon-lg fe-settings"></i>
                        </a>
                    </li> -->

                </ul>
                <!-- Menu -->

            </div>
            <!-- Navigation -->

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="tab-content h-100" role="tablist">
                    
                    <div class="tab-pane fade h-100 show active" id="tab-content-light" role="tabpanel">
                        <div class="d-flex flex-column h-100">

                            <div class="hide-scrollbar">
                                <div class="container-fluid py-6">

                                    <!-- Title -->
                                    <h2 class="font-bold mb-6">Lighting</h2>
                                    <!-- Title -->

                                    <!-- Search -->
                                    <!-- Search -->

                                    <!-- Favourites -->
                                    <!-- Favourites -->

                                    <!-- Devices -->
                                    <nav class="nav d-block list-discussions-js mb-n6" id="light-list">
                                        <!-- Device Item List -->

                                    </nav>
                                    <!-- Devices -->

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade h-100" id="tab-content-ac" role="tabpanel">
                        <div class="d-flex flex-column h-100">

                            <div class="hide-scrollbar">
                                <div class="container-fluid py-6">

                                    <!-- Title -->
                                    <h2 class="font-bold mb-6">Air Conditioning</h2>
                                    <!-- Title -->

                                    <!-- Search -->
                                    <!-- Search -->

                                    <!-- Favourites -->
                                    <!-- Favourites -->

                                    <!-- Chats -->
                                    <nav class="nav d-block list-discussions-js mb-n6" id="ac-list">
                                        <!-- Device Item List -->

                                    </nav>
                                    <!-- Devices -->

                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="tab-pane fade h-100" id="tab-content-temp" role="tabpanel">
                        <div class="d-flex flex-column h-100">

                            <div class="hide-scrollbar">
                                <div class="container-fluid py-6">

                                    <!-- Title -->
                                    <h2 class="font-bold mb-6">Heating</h2>
                                    <!-- Title -->

                                    <!-- Search -->
                                    <!-- Search -->

                                    <!-- Favourites -->
                                    <!-- Favourites -->

                                    <!-- Chats -->
                                    <nav class="nav d-block list-discussions-js mb-n6" id="temp-list">
                                        <!-- Device Item List -->

                                    </nav>
                                    <!-- Devices -->

                                </div>
                            </div>

                        </div>
                    </div>
                    

                    <div class="tab-pane fade h-100" id="tab-content-user" role="tabpanel">
                        <div class="d-flex flex-column h-100">

                            <div class="hide-scrollbar">
                                <div class="container-fluid py-6">

                                    <!-- Title -->
                                    <h2 class="font-bold mb-6">Profile</h2>
                                    <!-- Title -->

                                    <!-- Card -->
                                    <div class="card mb-6">
                                        <div class="card-body">
                                            <div class="text-center py-6">
                                                <!-- Photo -->
                                                <div class="avatar avatar-xl mb-5">
                                                    <!-- <img class="avatar-img" src="assets/images/avatars/12.jpg" alt=""> -->
                                                </div>

                                                <h5 id="houseNo">000동 0000호</h5>
                                                <!-- <p class="text-muted">Bootstrap is an open source toolkit for developing web with HTML.</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card -->

                                    <!-- Card -->
                                    <!-- <div class="card mb-6">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item px-0 py-6">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <p class="small text-muted mb-0">Country</p>
                                                            <p>Warsaw, Poland</p>
                                                        </div>
                                                        <i class="text-muted icon-sm fe-globe"></i>
                                                    </div>
                                                </li>

                                                <li class="list-group-item px-0 py-6">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <p class="small text-muted mb-0">Phone</p>
                                                            <p>+39 02 87 21 43 19</p>
                                                        </div>
                                                        <i class="text-muted icon-sm fe-mic"></i>
                                                    </div>
                                                </li>

                                                <li class="list-group-item px-0 py-6">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <p class="small text-muted mb-0">Email</p>
                                                            <p>anna@gmail.com</p>
                                                        </div>
                                                        <i class="text-muted icon-sm fe-mail"></i>
                                                    </div>
                                                </li>

                                                <li class="list-group-item px-0 py-6">
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <p class="small text-muted mb-0">Time</p>
                                                            <p>10:03 am</p>
                                                        </div>
                                                        <i class="text-muted icon-sm fe-clock"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <!-- Card -->

                                    <div class="form-row">
                                        <div class="col">
                                            <!-- Button -->
                                            <button type="button" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                                Settings
                                                <span class="fe-settings ml-auto"></span>
                                            </button>
                                        </div>

                                        <div class="col">
                                            <!-- Button -->
                                            <button type="button" class="btn btn-lg btn-block btn-basic d-flex align-items-center" onclick="javascript:location.href='/zenith/logout'">
                                                Logout
                                                <span class="fe-log-out ml-auto"></span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- Sidebar -->

            <!-- Main Content -->
            <div class="main main-visible-" data-mobile-height="">

                <!-- Chat -->
                <div class="chat">

                    <!-- Chat: body -->
                    <div class="chat-body">

                        <!-- Chat: Header -->
                        <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                            <div class="container-xxl">

                                <div class="row align-items-center">

                                    <!-- Close chat(mobile) -->
                                    <div class="col-3 d-xl-none">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a class="text-muted px-0" href="#" data-chat="open">
                                                    <i class="icon-md fe-chevron-left"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Chat photo -->
                                    <div class="col-6 col-xl-6">
                                        <div class="media text-center text-xl-left">
                                            <div class="media-body align-self-center text-truncate">
                                                <h6 class="text-truncate mb-n1">Settings</h6>
                                                <small class="text-muted">Update your profile details</small>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- .row -->

                            </div>
                        </div>
                        <!-- Chat: Header -->

                        <!-- Chat: Content-->
                        <div class="chat-content px-lg-8">
                            <div class="container-xxl py-6 py-lg-10">

                                <!-- Accordion -->
                                <div class="accordion modified-accordion mb-n6 mb-lg-8" id="profile-settings">
                                    <div class="card-columns">

                                        <!-- Card -->
                                        <div class="card mb-6 mb-lg-8">
                                            <div class="card-header position-relative">
                                                <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-notifications" aria-controls="profile-settings-notifications" aria-expanded="true">
                                                    <div class="row no-gutters align-items-center">
                                                        <!-- Title -->
                                                        <div class="col">
                                                            <h5>Notifications</h5>
                                                            <p>Update your profile details.</p>
                                                        </div>

                                                        <!-- Icon -->
                                                        <div class="col-auto">
                                                            <i class="text-muted icon-md fe-sun"></i><!-- fe-thermometer -->
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div id="profile-settings-notifications" class="collapse" data-parent="#profile-settings">
                                                <div class="card-body">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item pt-0 px-0">
                                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                                <!-- Title -->
                                                                <h6 class="mb-0">Sound</h6>

                                                                <!-- Switch -->
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="custom-switch-1">
                                                                    <label class="custom-control-label" for="custom-switch-1"></label>
                                                                </div>
                                                            </div>
                                                            <p>Update your profile details.</p>
                                                        </li>

                                                        <li class="list-group-item px-0">
                                                            <div class="d-flex justify-content-between mb-2">
                                                                <!-- Title -->
                                                                <h6 class="mb-0">Exceptions</h6>

                                                                <!-- Switch -->
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="custom-switch-2">
                                                                    <label class="custom-control-label" for="custom-switch-2"></label>
                                                                </div>
                                                            </div>
                                                            <p>Update your profile details.</p>
                                                        </li>

                                                        <!-- <li class="list-group-item px-0">
                                                            <div class="d-flex justify-content-between mb-2">
                                                                <!- - Title - ->
                                                                <h6 class="mb-0">Message preview</h6>

                                                                <!- - Switch - ->
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="custom-switch-3">
                                                                    <label class="custom-control-label" for="custom-switch-3"></label>
                                                                </div>
                                                            </div>
                                                            <p>Update your profile details.</p>
                                                        </li>

                                                        <li class="list-group-item pb-0 px-0">
                                                            <div class="d-flex justify-content-between mb-2">
                                                                <!- - Title - ->
                                                                <h6 class="mb-0">Show notifications</h6>

                                                                <!- - Switch - ->
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="custom-switch-4">
                                                                    <label class="custom-control-label" for="custom-switch-4"></label>
                                                                </div>
                                                            </div>
                                                            <p>Update your profile details.</p>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Card -->
                                        

                                    </div>
                                </div>
                                <!-- Accordion -->

                            </div>
                        </div>
                        <!-- Chat: Content -->

                    </div>
                    <!-- Chat: body -->

                </div>
                <!-- Chat -->

            </div>
            <!-- Main Content -->

            <!-- Active Users: Sidebar -->

            <!-- Active Users: Sidebar -->

        </div>
        <!-- Layout -->

        <!-- Modal: Control Detail -->
        <div class="modal fade" id="control-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="media flex-fill">
                            <div class="icon-shape rounded-lg bg-primary text-white mr-5">
                                <i class="fe-users"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h5 class="modal-title">Detail</h5>
                                <p class="small">온도 설정</p>
                            </div>
                        </div>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form action="#">
                            <div class="text-center" id="modal-spinner">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-lg btn-block btn-primary d-flex align-items-center">
                            Apply
                            <i class="fe-check ml-auto"></i>
                        </button> -->

                        <div class="alert alert-dark alert-dismissible fade show" role="alert" id="modalAlert" style="display:none;">
                          <strong>Error!</strong> 에러가 발생했습니다.
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Modal: Invite friends -->
        
        <!-- Scripts -->
        <script src="{% static 'zenith/assets/js/libs/jquery.min.js' %}"></script>
        <script src="{% static 'zenith/assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'zenith/assets/js/plugins/plugins.bundle.js' %}"></script>
        <script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script src="{% static 'zenith/assets/js/libs/bootstrap-input-spinner.js' %}"></script>

        <script src="{% static 'zenith/assets/js/template.js' %}"></script>
        <script src="{% static 'zenith/assets/js/main.js' %}"></script>
        <!-- Scripts -->

    </body>
</html>